alabaster==0.7.12
altgraph==0.17
appdirs==1.4.4
asgiref==3.3.1
attrs==20.3.0
Babel==2.9.0
base==1.0.4
bump2version==1.0.1
bumpversion==0.6.0
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cmake==3.18.4.post1
colorama==0.4.4
coverage==5.5
cryptography==3.4.7
cycler==0.10.0
DateTime==4.3
distlib==0.3.1
Django==3.1.7
dlib==19.22.0
docutils==0.17
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.0.12
flake8==3.9.0
future==0.18.2
google-auth==1.28.0
h5py==3.2.1
idna==2.10
image==1.5.33
imagesize==1.2.0
imutils==0.5.4
Jinja2==2.11.3
joblib==1.0.1
JsonForm==0.0.2
jsonschema==3.2.0
JsonSir==0.0.2
Keras==2.4.3
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.4.1
mccabe==0.6.1
nltk==3.6.1
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.5.1.48
packaging==20.9
pandas==1.2.3
pefile==2019.4.18
Pillow==8.1.2
pluggy==0.13.1
props==0.0.3
protobuf==3.15.7
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
Pygments==2.8.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pyparsing==2.4.7
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.1.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyqt5-tools==5.15.2.3.0.2
pyrsistent==0.17.3
pyshine==0.0.7
PySide2==5.15.2
PySimpleGUI==4.38.0
pyTelegramBotAPI==3.7.7
python-dateutil==2.8.1
python-dotenv==0.17.0
Python-EasyConfig==0.1.7
pytz==2021.1
pyuic5-tool==0.0.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
qimage2ndarray==1.8.3
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
Resource==0.2.1
rsa==4.7.2
scipy==1.6.2
shiboken2==5.15.2
six==1.15.0
snowballstemmer==2.1.0
sounddevice==0.4.1
SoundFile==0.10.3.post1
Sphinx==3.5.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.4.1
tensorboard-plugin-wit==1.8.0
threadpoolctl==2.1.0
toml==0.10.2
tox==3.23.0
tqdm==4.60.0
urllib3==1.26.4
virtualenv==20.4.3
watchdog==2.0.2
Werkzeug==1.0.1
zope.interface==5.3.0
